@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --accent-color: white;
  
  width: 100vw;
  height: 100vh;
  background-color: var(--accent-color);
  transition: background 0.25s ease
}

body {
  background: linear-gradient(to bottom, black, transparent)
}
